<div class="form-group" id="leavecomment">
    <h3 style="text-align: center"><strong>Leave A Comment</strong></h3>
    <form method="POST" action="https://api.staticman.net/v2/entry/scicco/scicco.github.io/gh-pages/comments">
        <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <input type="hidden" name="fields[replying_to]" value="">
        <input class="form-control" name="fields[name]" type="text" placeholder="Name (required)">
        <br/>
        <textarea class="form-control" rows="5" name="fields[comment]" placeholder="Your comment here."></textarea>
        <br/>
        <button class="btn btn-default btn-block" type="submit">Submit</button>
    </form>
</div>